version: "3.9"

services:
  web:
    build: .
    container_name: djarticles_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    container_name: djarticles_db
    environment:
      POSTGRES_DB: djarticles
      POSTGRES_USER: djuser
      POSTGRES_PASSWORD: djpass
    #ports:
    #  - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: djarticles_redis
    #ports:
    #  - "6379:6379"

  celery:
    build: .
    container_name: djarticles_celery
    command: celery -A djarticles worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - web
      - db
      - redis

  celery_beat:
    build: .
    container_name: djarticles_celery_beat
    command: celery -A djarticles beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - web
      - db
      - redis

volumes:
  postgres_data: